@using Feirb.Web.Components.UI

<div class="content-section mb-4 @Class">
    <div class="content-section-header">
        <Icon Name="@Icon" Size="IconSize.Large" Class="content-section-icon" />
        <Heading Level="HeadingLevel.Small" Subtitle="@Subtitle" Class="mb-0">@Title</Heading>
    </div>
    <div class="content-section-body">
        @ChildContent
    </div>
</div>

@code {
    [Parameter, EditorRequired] public string Icon { get; set; } = default!;
    [Parameter, EditorRequired] public string Title { get; set; } = default!;
    [Parameter] public string? Subtitle { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
}
