@inject IStringLocalizer<SharedResources> L

<div class="search-bar">
    <i class="bi bi-search search-icon"></i>
    <input type="text"
           class="form-control"
           placeholder="@L["SearchPlaceholder"]"
           disabled
           aria-label="@L["SearchPlaceholder"]" />
</div>
