@inject ToolbarStateService ToolbarState
@implements IDisposable

@if (ToolbarState.Actions.Count > 0)
{
    <div class="toolbar-actions">
        @foreach (var action in ToolbarState.Actions)
        {
            <button class="btn @action.CssClass btn-sm" @onclick="action.OnClickAsync">
                @if (!string.IsNullOrEmpty(action.Icon))
                {
                    <i class="bi bi-@action.Icon me-1" style="font-size: 1rem; vertical-align: middle;"></i>
                }
                @action.Label
            </button>
        }
    </div>
}

@code {
    protected override void OnInitialized() => ToolbarState.OnChange += StateHasChanged;

    public void Dispose() => ToolbarState.OnChange -= StateHasChanged;
}
