@inject ToolbarStateService ToolbarState
@implements IDisposable

@if (ToolbarState.Actions.Count > 0)
{
    <div class="toolbar-actions">
        @foreach (var action in ToolbarState.Actions)
        {
            <Button Variant="action.Variant" Size="ButtonSize.Small" Icon="@action.Icon" OnClick="action.OnClickAsync">
                @action.Label
            </Button>
        }
    </div>
}

@code {
    protected override void OnInitialized() => ToolbarState.OnChange += StateHasChanged;

    public void Dispose() => ToolbarState.OnChange -= StateHasChanged;
}
