@inherits LayoutComponentBase

<Feirb.Web.Components.ToastContainer />
<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh; background-color: #f8f9fa;">
    @Body
</div>
