@inherits LayoutComponentBase

<Feirb.Web.Components.ToastContainer />
<div class="page">
    <NavMenu />
    <main>
        <div class="top-bar">
            <Feirb.Web.Components.Breadcrumb />
            <Feirb.Web.Components.Toolbar />
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>
