@inherits LayoutComponentBase

<Feirb.Web.Components.ToastContainer />
<Feirb.Web.Components.UnsavedChangesGuard />
<div class="page">
    <NavMenu />
    <main>
        <div class="top-bar">
            <div class="top-bar-row-1">
                <Feirb.Web.Components.Breadcrumb />
                <Feirb.Web.Components.SearchBar />
            </div>
            <Feirb.Web.Components.Toolbar />
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>
