::deep ::selection {
    background-color: var(--bs-primary);
    color: white;
}

::deep .ql-toolbar {
    border-color: var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

::deep .ql-container {
    flex: 1;
    min-height: 250px;
    border-color: var(--bs-border-color) !important;
    border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
}

::deep .ql-editor {
    min-height: 250px;
}

::deep .ql-snow .ql-stroke {
    stroke: var(--bs-body-color) !important;
}

::deep .ql-snow .ql-fill,
::deep .ql-snow .ql-stroke.ql-fill {
    fill: var(--bs-body-color) !important;
}

::deep .ql-snow .ql-picker {
    color: var(--bs-body-color) !important;
}

::deep .ql-snow .ql-picker-label {
    border-color: var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
}

::deep .ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0 !important;
    border-bottom-color: var(--bs-border-color) !important;
}

::deep .ql-snow .ql-picker-label.ql-active,
::deep .ql-snow .ql-picker-label:hover,
::deep .ql-snow .ql-picker-item.ql-selected,
::deep .ql-snow .ql-picker-item:hover {
    color: var(--bs-primary) !important;
}

::deep .ql-snow .ql-picker-options {
    background-color: var(--feirb-surface) !important;
    border-color: var(--bs-border-color) !important;
    border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) var(--bs-border-radius) !important;
    min-width: 100%;
}
